<html>
<head>
<title>

</title>
<asset:stylesheet src="bootstrap.css"/>
  		<asset:stylesheet src="style.css"/>

<asset:javascript src="bootstrap.min.js"/>
<asset:javascript src="bootstrap.js"/>     
<asset:javascript src="npm.js"/> 
</head>
<body>
<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">WOL</a>
            </div>
            
           </div>
</body>
</html>