<html>
<head>
<title>

</title>
<asset:stylesheet src="bootstrap.css"/>
<asset:stylesheet src="font-awesome.css"/>
  		<asset:stylesheet src="style.css"/>
  		<asset:stylesheet src="font-awesome.min.css"/>

<asset:javascript src="bootstrap.min.js"/>
<asset:javascript src="bootstrap.js"/> 

</head>
<body>
<p>In the end, it's not the years in your life that count. It's the life in your years.</p>

 <a href="../visitor/create.gsp"><input type="submit" class="btn btn-primary btn btn-lg butt" value="Measure Your Life"></a>

</body>

</html>