.ban{
	float:left;
}
.btn1{
	margin-left: 260px;
	margin-top: 20px;
}
.contain1{

	margin-top: 120px;
    margin-left: 
   
	
	
}
.text{
	color:yellow;
	margin-left: 100px;
	margin-top:20px;
	font-family: fantasy;
	font-size:40px;
}
.head{
	height:100px;
	
	
}
----------------------------------------------------------------------------------------------
@media (min-width: 600px){
	.text{
	      display: hidden;
	}
}